<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col class="ion-no-padding" size-xs="12" size-lg="8">

      <ion-card class="ion-padding"> 

        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
          
          <ion-item class="ion-margin-vertical" lines="none" color="light">
            <ion-label position="stacked" color="medium">
              <span>Email</span>
            </ion-label>
            <ion-input type="text" [(ngModel)]="usuario"></ion-input>
          </ion-item>
    
          <ion-item class="ion-margin-vertical" lines="none" color="light">
            <ion-label position="stacked" color="medium">
              <span>Clave</span>
            </ion-label>
            <ion-input type="password" [(ngModel)]="clave"></ion-input>
          </ion-item>
    
          <div class="ion-text-center" >
            <ion-button strong shape="round" color="light" [disabled]="load" (click)="login()">
              <ion-spinner color="light" *ngIf="load"></ion-spinner>
              <span *ngIf="!load">Iniciar Sesion</span>
            </ion-button>
          </div>

          <ion-item>
            usuario: admin@banco.com
          </ion-item>
          <ion-item>
            clave: adminripley
          </ion-item>
          
        </ion-card-content>
    
      </ion-card>

    </ion-col>
  </ion-row>

  

</ion-content>
