<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Banco
    </ion-title>
    <ion-item slot="end"><ion-button (click)="logout()">Cerrar Sesion</ion-button></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="8">

          <ion-card class="ion-padding"> 

            <ion-card-header>
              <ion-card-title>Transferir</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              
              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Buscar Destinatario</span>
                </ion-label>
                <ion-input type="text" placeholder="Rut" [(ngModel)]="rut" (keyup.enter)="getDestinatario()" ></ion-input>
                <ion-button slot="end" style="margin-top:20px" (click)="getDestinatario()"><ion-icon name="search"></ion-icon></ion-button>
              </ion-item>

              <ion-spinner *ngIf="searchLoad" name="dots"></ion-spinner>

              <div *ngIf="destinatario">
                <ion-item >
                  <h2>Detalle del destinatario</h2>
                </ion-item>
                <ion-item>
                  <span>Nombre: {{ destinatario?.nombre }}</span>
                </ion-item>
                <ion-item>
                  <span>Correo: {{ destinatario?.correo }}</span>
                </ion-item>
                <ion-item>
                  <span>Banco: {{ destinatario?.banco }}</span>
                </ion-item>
                <ion-item>
                  <span>Tipo de Cuenta: {{ destinatario?.tipo_cuenta }}</span>
                </ion-item>
              </div>

              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Monto</span>
                </ion-label>
                <ion-input type="number" [(ngModel)]="monto"></ion-input>
              </ion-item>

              <div class="ion-text-center" >
                <ion-button strong shape="round" color="light" [disabled]="isSaving" (click)="setTransferencia()">
                  <ion-spinner color="light" *ngIf="isSaving"></ion-spinner>
                  <span *ngIf="!isSaving">transferir</span>
                </ion-button>
              </div>

            </ion-card-content>
              

          </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>

