<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Banco
    </ion-title>
    <ion-item slot="end"><ion-button (click)="logout()">Cerrar Sesion</ion-button></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="8">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>

          <ion-card class="ion-padding"> 

            <ion-card-header>
              <ion-card-title>Nuevo Destinatario</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              
              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Rut</span>
                </ion-label>
                <ion-input type="text" formControlName="rut"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Nombre</span>
                </ion-label>
                <ion-input type="text" formControlName="nombre"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Correo</span>
                </ion-label>
                <ion-input type="email" formControlName="correo"></ion-input>
              </ion-item>

              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>Telefono</span>
                </ion-label>
                <ion-input type="text" formControlName="telefono"></ion-input>
              </ion-item>

              <div class="hide-sm-up">
                <ion-item class="ion-margin-vertical" lines="none" color="light">
                  <ion-label position="stacked" color="medium">
                    <span>Banco</span>
                  </ion-label>
                  <ion-select formControlName="banco" okText="Ok" cancelText="Cancelar">
                    <ion-select-option *ngFor="let banco of bancos">
                      {{ banco.name }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <div class="hide-sm-up">
                <ion-item class="ion-margin-vertical" lines="none" color="light">
                  <ion-label position="stacked" color="medium">
                    <span>Tipo de Cuenta</span>
                  </ion-label>
                  <ion-select formControlName="tipo" okText="Ok" cancelText="Cancelar">
                    <ion-select-option *ngFor="let tipo of tipos">
                      {{ tipo.title }}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
              </div>

              <ion-item class="ion-margin-vertical" lines="none" color="light">
                <ion-label position="stacked" color="medium">
                  <span>N° de Cuenta</span>
                </ion-label>
                <ion-input type="text" formControlName="cuenta"></ion-input>
              </ion-item>

              <div class="ion-text-center" >
                <ion-button type="submit" strong shape="round" color="light" [disabled]="isSaving">
                  <ion-spinner color="light" *ngIf="isSaving"></ion-spinner>
                  <span *ngIf="!isSaving">Crear</span>
                </ion-button>
              </div>

            </ion-card-content>

          </ion-card>

        </form>
      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>
