<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Banco
    </ion-title>
    <ion-item slot="end"><ion-button (click)="logout()">Cerrar Sesion</ion-button></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed>

    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-xs="12" size-lg="11">

          <ion-card class="ion-padding"> 

            <ion-card-header>
              <ion-card-title>Historial</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              
                <ngx-datatable #table style="min-height: 100% !important; height: 350px;"
                  class="material"
                  [loadingIndicator]="loadingIndicator"
                  [columns]="columns"
                  [rows]="rows"
                  [columnMode]="'force'"
                  [headerHeight]="50"
                  [footerHeight]="50"
                  [scrollbarV]="true"
                  [scrollbarH]="true"
                  [rowHeight]="50"
                  [reorderable]="false"
                >
                </ngx-datatable>

            </ion-card-content>

          </ion-card>

      </ion-col>
    </ion-row>

  </ion-grid>
  
</ion-content>

